#container-footer{
    background: linear-gradient( #bcbcbc,#4774ea ,#bcbc );
    color: whitesmoke;
    margin-bottom: auto;
}

.footer{
    margin-top: 40PX;
    margin-bottom:20PX;
    padding-top: 30PX;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    position: static;
}

.container-span{
    align-items: center;
    display: flex;
    column-count: 5px;
}

.span-footer{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
}
ul{
    justify-content: end;
    display: flex;
    column-count: 4px;
    list-style: none;
}

.link{
    margin-right: 50px;
}
.text-muted-footer {
    height: 50px;
    width: 50px;
}

#face{
 color: #3b5998;
}

#Whats{
    color: #25D366;
}
#waze{
    color:#05c8f7;
}