
nav{
    background: linear-gradient( #bcbcbc,#4774ea ,#bcbc );
    margin-bottom: 10;  
}

.container-fluid .navbar-brand{
height: 50;
}

.navbar-nav{
    margin-bottom: 2;
    margin-block-end: auto;
}

.nav-link {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item{
    margin-right: 15px;
}
